body{
    font-family: Arial, sans-serif;
}
.cabecalho{


}
.conteudo{


}
.conteudo__titulo{


}
.formulario{


}
.formulario__grupo{


}
.formulario__rotulo{


}
.formulario__campo{


}
.botao{


}
.seta{


}
.seta2{

    
}